
/api/*
/app/*
!/app/test

/bin/*.txt

/conf/*.php
/conf/locale/*.php
/conf/locale/messages*

/data/geoip/*.dat

/src/api/*

/temp/php/sys/*
/temp/*

/vendor
/composer.lock

*.lng
*.mo

*.sublime-project
*.sublime-workspace

!.keep

.DS_Store
