:root {
    view-transition-name: root;
}

html {
    display: block;
}

head {
    display: none;
}

meta {
    display: none;
}

title {
    display: none;
}

link {
    display: none;
}

body {
    display: block;
    margin: 0px;
    background-color: black;
}

header {
    display: block;
    unicode-bidi: isolate;
    width: 100%;
    position: fixed;
    text-align: center;
}

nav {
    display: block;
    unicode-bidi: isolate;
    margin: 0 auto;
    width: 350px;
    background-color: #eee;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
    padding: 0 0 0 25px;
}

dfn {
    font-style: normal;
    font-family: monospace;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    width: 50px;
    float: left;
}

main {
    margin: 0 auto;
    padding: 30px 0;
    width: 375px;
    background: white;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    text-align: center;
}

dl {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    unicode-bidi: isolate;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    text-align: right;
}

article {
    display: block;
    unicode-bidi: isolate;
}

section {
    display: block;
    unicode-bidi: isolate;
}

p {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    float: left;
    text-align: right;
    width: 25px;
}


ol ul {
    list-style-type: circle;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    unicode-bidi: isolate;
    overflow: hidden;
    padding: 10px 0 0 0;
}

li {
    display: block;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
    float: left;
    width: 50px;
    height: 100px;
    border-top: 1px solid #ccc;
}

ol ul {
    list-style-type: circle;
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}

::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
}

dt {
    display: block;
    unicode-bidi: isolate;
    padding: 10px;
}

dd {
    display: block;
    margin-inline-start: 0px;
    unicode-bidi: isolate;
}
