:root {
    view-transition-name: root;
}

html {
    display: block;
}

head {
    display: none;
}

meta {
    display: none;
}

title {
    display: none;
}

link {
    display: none;
}

body {
    display: block;
    margin: 0px;
}

b {
    font-weight: bold;
    display: block;
    width: 50px;
    text-align: center;
}

header {
    display: block;
    unicode-bidi: isolate;
}

nav {
    display: block;
    unicode-bidi: isolate;
}

dfn {
    font-style: normal;
}

main {
    display: block;
    unicode-bidi: isolate;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    padding: 0 0 10px 0;
}

dl {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    unicode-bidi: isolate;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    overflow: hidden;
}

article {
    display: block;
    unicode-bidi: isolate;
}

section {
    display: block;
    unicode-bidi: isolate;
}

p {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}


ol ul {
    list-style-type: circle;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    unicode-bidi: isolate;
}

li {
    display: block;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}

ol ul {
    list-style-type: circle;
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}

::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
}

dt {
    display: block;
    unicode-bidi: isolate;
}

dd {
    display: block;
    margin-inline-start: 40px;
    unicode-bidi: isolate;
}

s {
    text-decoration: none;
    display: inline-block;
    padding: 0 5px 0 0;
}

a {
    text-decoration: none;
    font-size: 18px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    color: black;
    display: inline-block;
    text-align: center;
}

/**/

.w175 {
    width: 175px;
}

.p175 {
    padding: 0 0 0 175px
}

.red {
    background-color: red;
    color: white;
}
